# Módulo de UI
streamlit

# Módulos Core do Hub (LLM e Memória)
openai
langchain
langchain-openai

# Módulo de Banco de Dados
supabase

# Módulos do RAG
chromadb
langchain-community

# Módulo de Leitura de Documentos
unstructured[md]

# CORREÇÃO: Pacote que agora contém o RecursiveCharacterTextSplitter
langchain-text-splitters
